header.bg-purple-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Reci
            span.font-normal clando 

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="/zonas") Zonas 
            a(href="/perfil") Perfil
            a(class="bg-purple-700 py-2  px-2  rounded-l" href="/salir") Cerrar Sesion