extends ../layout/index

block contents  
    div.py-10
        h1.text-center.text-4xl.my-10.font-extrabold Reci
            span.font-normal clando
        h2.text-center.text-2xl.font-extrabold= page

    a(href="/punto/crear" class="rounded p-4 w-full m-2 inline-block sm:w-auto bg-green-500 hover:bg-green-600 text-white font-extrabold text-center uppercase" ) Crear Punto